li:hover{
    background-color: hsl(269, 84%, 78%);
    color: white;
    font-size: larger;
    font-weight: 900;

}
li:active{
    background-color: rgb(73, 73, 243);
    height: 50px;
    text-align: center;
    align-content: center;
    text-shadow: 1px 1px;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    font-weight: 900;
}
li:focus{
   background-color: pink;
}