*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

.container1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    padding: 40px 40px;
    font-family: "Courier New", Courier, monospace;
    background-color: black;
    height: 100vh;
  }
  
  .box {
    background-color: rgb(240, 72, 108);
    text-align: center;
    align-content: center;
    font-size: larger;
    font-weight: 900;
    color: white;
    border: 4px solid white;
  }
  
  .box1 {
    grid-column-start: 1;
    grid-column-end: 13;
  }
  
  .box2 {
    grid-column-start: 1;
    grid-column-end: 7;
  }
  
  .box3 {
    grid-column-start: 7;
    grid-column-end: 13;
    
  }
  .box4 {
    grid-column-start: 1;
    grid-column-end: 5;

  }
  .box5 {
    grid-column-start: 5;
    grid-column-end: 9;
    
  }
   .box6 {
    grid-column-start: 9;
    grid-column-end: 13;
    
  }
   .box7 {
    grid-column-start: 1;
    grid-column-end: 4;
    
  }
   .box8 {
    grid-column-start: 4;
    grid-column-end: 7;
    
  } 
  .box9 {
    grid-column-start: 7;
    grid-column-end: 10;
    
  } 
  .box10 {
    grid-column-start: 10;
    grid-column-end: 13;
    
  } 
  .box11{
    grid-column-start: 1;
    grid-column-end: 3;
    
  } 
  .box12{
    grid-column-start:3;
    grid-column-end: 5;
    
  } 
  .box13{
    grid-column-start:5;
    grid-column-end: 7;
    
  }
   .box14 {
    grid-column-start: 7;
    grid-column-end: 9;
    
  }
   .box15{
    grid-column-start: 9;
    grid-column-end: 11;
    
  }
   .box16{
    grid-column-start: 11;
    grid-column-end: 13;
    
  } 


  .container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    padding: 40px 40px;
    font-family: "Courier New", Courier, monospace;
    background-color: black;
    height: 100vh;
  }
  
  .item {
    background-color: rgb(26, 221, 58);
    text-align: center;
    align-content: center;
    font-size: larger;
    font-weight: 900;
    color: white;
    border: 4px solid white;
  }
  .item2{
    grid-column-start: 2;
    grid-column-end: 13;
  }
  .item3{
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .item4{
    grid-column-start: 3;
    grid-column-end: 13;
  }
  .item5{
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .item6{
    grid-column-start: 4;
    grid-column-end: 13;
  }
  .item7{
    grid-column-start: 1;
    grid-column-end: 5;
  }
  .item8{
    grid-column-start: 5;
    grid-column-end: 13;
  }
  .item9{
    grid-column-start: 1;
    grid-column-end: 6;
  }
  .item10{
    grid-column-start:6;
    grid-column-end: 13;
  }
  .item11{
    grid-column-start: 1;
    grid-column-end: 7;
  }
  .item12{
    grid-column-start:7;
    grid-column-end: 13;
  }
  .item13{
    grid-column-start: 1;
    grid-column-end: 8;
  }
  .item14{
    grid-column-start: 8;
    grid-column-end: 13;
  }
  .item15{
    grid-column-start: 1;
    grid-column-end: 9;
  }
  .item16{
    grid-column-start: 9;
    grid-column-end: 13;
  }
  .item17{
    grid-column-start: 1;
    grid-column-end: 10;
  }
  .item18{
    grid-column-start: 10;
    grid-column-end: 13;
  }
  .item19{
    grid-column-start: 1;
    grid-column-end: 11;
  }
  .item20{
    grid-column-start: 11;
    grid-column-end: 13;
  }
  .item21{
    grid-column-start: 1;
    grid-column-end: 12;
  }
  .item22{
    grid-column-start: 12;
    grid-column-end: 13;
  }
